table {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
  }

  td {
    width: 60px;
    height: 60px;
    text-align: center;
  }
  
  td.letter {
    background-color: rgba(255,255,255,0.3);

    border: 2px solid #000;
  } 

  body {
    background-image: url('bg.jpg');
    background-position: center top;
    background-size:40%;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  tr{
    font-size: 0%;
  }

  #circle {
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 225px;
    border-radius: 225px;
    background-color: rgba(211, 211, 211, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
  }


  #circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
  }

  #letter1{
    cursor: pointer;
    position: absolute;
    bottom: 165px;
    right: 50px;
  }

  #letter2{
    cursor: pointer;
    position: absolute;
    left: 50px;
    bottom: 165px;
  }

  #letter3{
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 75px;
  }

  #letter4{
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 75px;
  }

  #letter5{
    cursor: pointer;
    position: absolute;
    bottom: 0;
  }
  
  #inputanswer {
    top: 32px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    border: 2px solid black;
    text-align: center;
    font-size: 36px;
    color: palevioletred;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    border-left: 5px;
    border-right: 5px;
    padding: 10px;
    box-sizing: border-box;
  }

#bulb
{
  position: absolute;
  right: 650px;
  bottom: 400px;
  cursor: pointer;
}

.letters {
   
    border: none;
    outline: none;
    color: black;
}

.letters:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.letters:hover:before {
    opacity: 1;
}

